.footer {
    padding-top: $medium-size;
    color: $white;
    position: relative;

    &__logo-box {
        text-align: center;
        width: calc(#{$extra-big-size} * 3); // 30rem
        height: calc(#{$extra-big-size} * 3); // 30rem
        border-radius: 50%;
        padding-top: $medium-size;
        position: absolute;
        bottom: $extra-big-size;
        left: 50%;
        transform: translateX(-50%);
        background-color: $black;
    }

    &__logo {
        width: calc(#{$extra-big-size} + #{$medium-size}); // 16rem
        height: auto;
    }

    &-main {
        grid-template-columns: calc(#{$extra-big-size} * 4) auto; // 40rem auto
        justify-content: space-between;
        align-items: baseline;
    }

    &-group {
        margin-top: $big-size
    }

    .socials {
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: baseline;

        &-link {
            font-size: 2.5rem;

            &:hover {
                color: $primary;
                transform: scale(1.2) rotate(10deg);
            }
        }
    }

    &-nav {
        border-top: 1px solid $light-grey;
        padding-top: $tiny-size;
        display: inline-block;
        
        &-link {
            font-size: 1.5rem;
            margin-right: $tiny-size;
            color: $light-grey;
            text-decoration: none;
            text-transform: capitalize;
            display: inline-block;
            transition: all .2s;
            
            &:hover,
            &:active {
                color: $primary;
                background-color: $black;
                box-shadow: $dark-box-shadow;
                transform: rotate(5deg) scale(1.3);
            }
        }
    }

    &-copyright {
        font-size: 1.4rem;
        margin-top: $small-size;
    }
        
}
