.header {
    width: 100%;
    height: 100vh;
    background-image:  url('/assets/img/samsung-s22-ultra.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: 150%;
    background-position-x: center;
    position: relative;

    .container {
        width: 100%;
        height: 90%;
        background-image: linear-gradient(rgba($black, .7), rgba($black, .7));
        background-size: 200%;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: $small-size;
        text-align: center;
        position: relative;
    }
}

.hero {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;

    &__paragraph {
        width: 60%;
        margin: $tiny-size auto;
    }
}