.navigation {
    background-color: $black;
    font-size: 2rem;
    font-weight: 400;
    color: $white;
    text-transform: capitalize;
    height: 10%;
    padding: 0 $tiny-size;
    
    &__item {
        padding: 0 calc(#{$tiny-size} / 2); // 1rem

        &:hover,
        &:active {
            color: $tertiary;
        }
    }
}

    
.relative-position {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.position-fixed {
    display: flex;
    flex-direction: row;
    padding: $tiny-size $small-size;
    height: $medium-size;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}