.navigation {
    height: 10%;
    width: 100%;
    background-color: $black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 $tiny-size;
    border-bottom: .5rem solid $primary;
    color: $white;
    
    &__item {
        padding: 0 calc(#{$tiny-size} / 2); // 1rem

        &:hover,
        &:active {
            color: $tertiary;
        }
    }

    .display-block {
        display: flex;
        flex-direction: row;
        padding: $tiny-size $small-size;
        background-color: $black;
        position: absolute;
    }
}