html {
    font-size: 62.5%;

    @media screen and (max-width: 67.5em) {
        font-size: 50%;
    }

    @media screen and (max-width: 35em) {
        font-size: 40%;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    width: 100%;
    overflow-x: hidden !important;
    font-family: 'Raleway', sans-serif;
    background-color: $black;
    box-sizing: border-box;
}

main {background-color: $light-grey;}

a:link,
a:any-link {
    text-decoration: none;
    color: unset;
}