html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    background-color: $black;
}

main {background-color: $light-grey;}

a:link,
a:any-link {
    text-decoration: none;
    color: unset;
}