.primary-heading {
    color: $white;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 600; 
    line-height: 1.5;
    margin-bottom: $small-size;
    font-family: 'Ubuntu', sans-serif;
    animation-name: moveInTop;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.secondary-heading {
    color: $black;
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0 auto $small-size auto;
    text-align: center;

}

.page-heading {
    text-align: center;
    text-transform: capitalize;
    // text-decoration: underline;
    font-size: 4rem;
    margin-top: $small-size;
    margin-bottom: $medium-size;
}

.sub-heading {
    color: $black;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin: $tiny-size auto;
}

.paragraph {
    font-size: 1.8rem;
    color: $light-grey;
}

.col-paragraph {
    font-size: 1.5rem;
    color: $dark-grey;
    margin: calc(#{$tiny-size} / 2) auto;
}

.emphasis {font-family: cursive;}