// COLORS
$dark-grey: #353535;
$black: #131212;
$green: rgb(59, 128, 3);
$tertiary: rgb(214, 53, 4); 
$white: #ffffff; 
$light-grey: #cac7c7;  
$very-light-grey: rgb(241, 239, 239);
$secondary: #0599fc;
$primary: #336699;

// Box shadow
$box-shadow: 0 1.5rem 4rem rgba($black, .15);
$dark-box-shadow: 0 1rem 2rem rgba($black, .4);

$small-border-radius: 1rem;
$big-border-radius: 50%;

// VARIABLE SIZES
$tiny-size: 2rem;
$small-size: 4rem;
$medium-size: 6rem;
$big-size: 8rem;
$extra-big-size: 10rem;

