
.benefits {
    background-color: $light-grey;
    padding: $medium-size 0;
    text-align: center;

    &-group {grid-template-columns: repeat(4, 1fr);}

    &__paragraph {color: $secondary;}

    .col-1-of-4 {background-color: $white;}

    .btn {
        text-transform: none;
        color: $black;
        font-size: 2rem;
    }

}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    padding: $medium-size;
    padding-bottom: calc(#{$extra-big-size} * 2); // 20rem
    background-image: linear-gradient(to right bottom, $white, $light-grey);

    &-content {
        width: 85%;
        background-image: linear-gradient(100deg, 
                                    rgba($primary, .9) 0%, 
                                    rgba($primary, .9) 50%, 
                                    transparent 45%),
                                    url('../assets/img/white-stripe-bg.jpg');
        background-size: cover;
        margin: 0 auto;
        border-radius: .5rem;
        box-shadow: $box-shadow;
        padding: $small-size;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-main {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-right: $big-size;

        .sub-heading {margin: 0;}
    }

    &-logo {
        width: calc(#{$extra-big-size} * 2 + #{$medium-size}); // 26rem;
        aspect-ratio: 1/1;
        margin-bottom: $tiny-size;
        margin-left: $small-size;
    }
    
    &-name {
        margin: 0 0 $tiny-size 0;
    }

    &-details {
        width: 50%;
        text-align: center;
        padding-left: $small-size;
        
        .paragraph {
            font-size: 1.5rem;
            margin-bottom: $tiny-size;
            text-align: left;
            color: $black;
            font-family: 'Poppins', serif;
            line-height: 1.5;
        }
    }

}

// MEDIA QUERIES

@media screen and (max-width: 45em) {
    .benefits-group {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: $small-size;
    }   

    .about-section-content {
        width: 95%;

        .btn {
            margin: 0;
            padding: 0;
        }
    }
}

@media screen and (max-width: 26.5em) {
    .benefits-group {
        grid-template-columns: 80%;
        justify-content: center;
    }

    .about-section-content {
        background-image: linear-gradient(180deg, 
                                    rgba($primary, .9) 0%, 
                                    rgba($primary, .9) 50%, 
                                    transparent 45%),
                                    url('../assets/img/white-stripe-bg.jpg');
        background-size: cover;
        justify-content: center;
        padding: $small-size;
        flex-direction: column;
    }

    .about-section-main {
        width: 100%;
        padding: $tiny-size;
    }

    .about-section-logo {
        margin: $tiny-size auto;
    }

    .about-section-name {
        font-size: 3rem;
        font-family: 'Ubuntu', sans-serif;
        color: $white;
    }

    .about-section-details {
        width: 100%;
        margin-top: $medium-size;
    }

}