.services {
    background-color: $light-grey;
    width: 100%;
    padding: $small-size;
    text-align: center;
    padding-bottom: $big-size;

    &-header {
        background-image: url('../assets/img/a-lady-using-a-smartphone-with-shades-on.jpg');
        background-size: cover;
        background-position-y: 50%;
    }

    &-group {
        margin-top: $small-size;
        text-align: left;
    }

    .section-heading {
        grid-column: span 2;
        color: $primary;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin: $tiny-size 0 -#{$tiny-size} $small-size;

        &:first-child {
            margin-top: $small-size;
            margin-bottom: -#{$small-size};
        }
    }

    &-item {
        grid-template-columns: repeat(2, 1fr);
        gap: $small-size;
        align-items: center;
    }

    &-text:nth-child(even) {margin-left: $small-size;}

    &-text {
        width: 80%;

        .sub-heading {font-size: 1.8rem;}
    }

    &-img > img {
        width: 100%;
        height: calc(#{$extra-big-size} * 4);
        border-radius: $tiny-size;
    }

    &-detail {
        color: $black;
        font-size: 2rem;
    }

    .btn {margin-bottom: $small-size;}
    
}

// MEDIA QUERIES

@media screen and (max-width: 45em) {
    .services-text {
        width: 95%;
        
        &:nth-child(even) {margin-left: 0;}
    }

    .services-img > img {height: calc(#{$extra-big-size} * 3);}
    
}

@media screen and (max-width: 40em) {
    .section-heading {
        margin: $small-size 0;
    }

    .services-item {
        grid-template-columns: 1fr;
        row-gap: $small-size;
        margin: $small-size auto;
        padding: 0;
    }

    .services-img {order: 1;}

    .services-img > img {height: calc(#{$extra-big-size} * 4);}

}